@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-sm;
}

section {
  @apply px-5 py-14;
}

h1 {
  @apply font-bold text-4xl mb-3;
}

h3 {
  @apply font-bold text-base tracking-widest mb-3 uppercase;
  letter-spacing: 0.3em;
}


p {
  @apply text-secondary font-semibold;
}

footer {
  @apply my-5 px-5 text-center;
  font-size: 11px;
}


.link {
  @apply hover:underline;
  color: hsl(228, 45%, 44%);
}

.shop {
  @apply text-primary font-semibold uppercase;
  letter-spacing: 0.8em;
}
